.flighttable{
    width: 100%;
    align-content: center;
}

.header{
    padding: 25px;
    text-align: left;
    background: darkcyan;
    color: white;
}

.header h1{
    font-size: 35px;
}

.navbar {
    padding: 25px;
}