.flighttable{
    width: 100%;
    align-content: center;
}

.header{
    overflow: hidden;
    background-color: lightblue;
}

.header a{
    float: left;
    color: darkcyan;
    padding: 15px;
    border-radius: 5px;
}

.header a.logo{
    font-size: 25px;
    font-weight: bold;
}

.navbar {
    padding: 25px;
}

