<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>

<table class="flighttable">
    <h1>Ankomster</h1>
    <tr>
        <th>Tid</th>
        <th>Fra</th>
        <th>Selskab</th>
        <th>Fly</th>
        <th>Gate</th>
        <th>Forsinkelse</th>
    </tr>

    <!--

    <tr th:each=" : ${}">
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:text="${}"></td>
    </tr>
</table>

-->


    <table class="flighttable">
        <h1>Afgange</h1>
        <tr>
            <th>Tid</th>
            <th>Til</th>
            <th>Selskab</th>
            <th>Fly</th>
            <th>Gate</th>
            <th>Forsinkelse</th>
        </tr>

        <!--

        <tr th:each=" : ${}">
            <td th:text="${}"></td>
            <td th:text="${}"></td>
            <td th:text="${}"></td>
            <td th:text="${}"></td>
            <td th:text="${}"></td>
            <td th:text="${}"></td>
        </tr>

        -->

    </table>
</body>
</html>