<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Work Group</title>
</head>
<body>
    <div class="job-group">
        <h1>Rengøring 1</h1>
    </div>

    <div class="navbar">
        <select id="jobsComboBox" class="classJobsComboBox" th:field="*{shift}">
            <option value="">Select Job</option>
            <option th:each="job : ${jobs}" th:value="${job}" th:text="${job.text}"></option>
        </select>
        <button>Next</button>
        <button>Prev</button>
    </div>

    <div>
        <p>Terminal 2, Gate 13</p>
        <p>Kickoff: 18:30 (18:20 - 10min delay)</p>
        <p>Deadline: 18:40</p>
        <p>Flight: A014</p>
        <p>Size: Small</p>
    </div>

    <div>
        <input type="checkbox" id="done" name="declareDone">
        <label for="done"> Erklær Færdig</label><br>
    </div>
</body>
</html>